.idea
.DS_Store
__pycache__/

.local/
.local

venv/*
venv/
venv

_models/data/*
!_models/data/solution
_models/data/solution/*
!_models/data/.gitkeep
!_models/data/solution/plots
!_models/data/solution/.gitkeep
_models/data/solution/plots/*
!_models/data/solution/plots/.gitkeep