# General things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
.idea
.DS_Store
__pycache__/
*.so
*~

venv/*
venv/
venv

.cache


# Project specific things to ignore
.local/
.local

_models/data/*
!_models/data/solution
_models/data/solution/*
!_models/data/.gitkeep
!_models/data/solution/plots
!_models/data/solution/.gitkeep
_models/data/solution/plots/*
!_models/data/solution/plots/.gitkeep